@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


html, body{    
    height: 100%;    
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
    box-sizing: border-box;          
}

body{
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;    
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
}

#home{
    height: 835px;
}
    
   
      

#home .align-self-center{
    text-align: center;    
    color: #560bad;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
    margin-top: 90px;
}



#content1{
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
    color: #560bad;    
    opacity: 0.8;  
    
}
 #home .lead{
    font-size: 0.4em;
 }



/*.bg_video{
    position: absolute; 
	top: 0; 
	left: 0;
	min-width: 100%; 
	min-height: 100%;	 
	z-index: -1000;
	background: url(img/fundo_fixo.jpeg) no-repeat;
	background-size: cover; 
    opacity: 0.8;
}*/



.navbar-dark .navbar-nav a.nav-link{
    color: #7209b7;    
    font-weight: bold;
    padding-right: 10px;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
}

.navbar-dark .navbar-nav a.nav-link:hover{
    color: #f72585;
    transition: 1s;
    transform: translateY(-5px);
}

#inicio .navbar-dark .navbar-toggler {    
    color: #7209b7;
    border-color: #7209b7;
}






/*Media Queries
----------------------------------------------*/

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

@media (min-width: 250px) and (max-width: 575.99px) {

   
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {
  

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px){
   

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.99px) {
    

}
    
/*// Extra large devices (large desktops, 1200px and up)*/
    
@media (min-width: 1200px) and (max-width: 1399.99px) {

   
}

/*// XX large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

    
}
