@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

html{
    background: #000;
}

body{    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
    font-family:  'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    background: #000;      
}

#inicio .container-fluid{
    background: #000;
}

#home{
    background: #000;
    height: 100vh;   
    
}

#home .align-self-center{
    text-align: center;    
    color: #fff;
    font-size: 3em;
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
}



#content1{
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    color: #fff;    
    background: url(img/markap.jpg) no-repeat center center #000;
    opacity: 0.7;    
    
}
 #home .lead{
    font-size: 1em;
 }



/*.bg_video{
    position: absolute; 
	top: 0; 
	left: 0;
	min-width: 100%; 
	min-height: 100%;	 
	z-index: -1000;
	background: url(img/fundo_fixo.jpeg) no-repeat;
	background-size: cover; 
    opacity: 0.8;
}*/



.navbar-dark .navbar-nav a.nav-link{
    color: #4cc9f0;    
    font-weight: bold;
    padding-right: 10px;
    font-family: 'Audiowide', cursive, Arial, Helvetica, sans-serif;
}

.navbar-dark .navbar-nav a.nav-link:hover{
    color: #ff006e;
    transition: 1s;
    transform: translateY(-5px);
}

#inicio .navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
